
.hidden_child_div div{
    display: none;
    background-color:orange;
    color:white;
    height: 0px;
    width: 0px;
    transition: 0.5s linear 0s;
}

.hidden_child_div:hover div{
    display: block;
    background-color:orange;
    color:white;
    height: 100%;
    width: 100%;
    transition: 0.5s linear 0s;
}